.hide{display:none!important;}
.modal-header{margin-top:-2px!important;}
.btn{cursor:pointer!important;padding:0 6px!important;line-height:24px!important;border-radius:2px!important;}
.page_loading{position:fixed;top:35%;z-index:1000000;display:block;width:100%;padding-left:30%;height:200px;background:url(loading.gif) center center / contain no-repeat;}